.top-content
  .top-content__p1="チャットグループが作成されました。"

.left-nav
  .left-nav__head-li
    .left-nav__head-li__p1="seo"
    .left-nav__head-li__side-icon
      %i.fa.fa-edit
      %i.fa.fa-cog
  .left-nav__li
    .left-nav__li__p2="sample"
    .left-nav__li__p3="Good bye world"

.main
  .main__main-head
    .main__main-head__p1="sampleグループ"
    .main__main-head__p2="members: seo neko"
    .main__main-head__right_box
      .main__main-head__right_box__p3="Edit"


  .main__main-content
    .main__main-content__space
    .main__main-content__li
      .main__main-content__li__p1="seo"
      .main__main-content__li__p2="2016/09/21 06:16:55"
      .main__main-content__li__p3="Hellow world!"
    .main__main-content__li
      .main__main-content__li__p1="neko"
      .main__main-content__li__p2="2016/09/22 06:16:55"

  .main__main-footer
    .main__main-footer__back
      .main__main-footer__back__textarea
        .main__main-footer__back__textarea__p1="type a message"
        .main__main-footer__back__textarea__icon
          %i.far.fa-image
      .main__main-footer__back__send_box
        .main__main-footer__back__send_box__p2="send"

