.top_content
  .p1="チャットグループが作成されました。"

.left_nav
  .head_li
    .p1="seo"
    .side_icon
      %i.fa.fa-edit
      %i.fa.fa-cog
  .li
    .p2="sample"
    .p3="Good bye world"

.main
  .main_head
    .p1="sampleグループ"
    .p2="members: seo neko"
    .right_box
      .p3="Edit"


  .main_content
    .space
    .li
      .p1="seo"
      .p2="2016/09/21 06:16:55"
      .p3="Hellow world!"
    .li
      .p1="neko"
      .p2="2016/09/22 06:16:55"

  .main_footer
    .back
      .textarea
        .p1="type a message"
        .icon
          %i.far.fa-image
      .send_box
        .p2="send"

