.main_content{
  background-color: rgba(170,170,170,0.1);
  height: 800px;
  width: calc(100vw - 300px);
  padding-left: 40px;
  clear: both;
  float: right;
  padding-top: 100px;

  .space{
    background-color: rgba(170,170,170,0.01);
    height: 6px;
  }

  .p1{
    font-size: 16px;
    color: #434A54;
    padding-top: 40px;
    display: table-cell;
  }

  .p2{
    font-size: 12px;
    color: #999999;
    display: table-cell;
    padding-left: 10px;
  }

  .p3{
    font-size: 14px;
    color: #434A54;
    padding-top: 10px;
  }
}
