.main__main-footer{
  height: 90px;
  background-color: rgba(170,170,170,0.2);
  width: calc(100% - 300px);
  padding-left: 40px;
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
  position: fixed;

  .main__main-footer__back__textarea{
    height: 50px;
    width: calc(100% - 180px);
    padding-left: 10px;
    background-color: white;
    position: absolute;
    top: 20px;
    bottom: 20px;

    .main__main-footer__back__textarea__p1{
      opacity: 0.2;
      position: absolute;
      top: 30%;
    }

    .main__main-footer__back__textarea__icon{
      position: absolute;
      right: 10px;
      top: 30%;
    }
  }

  .main__main-footer__back__send_box{
    width: 34px;
    height: 50px;
    background-color: $botanColor;
    position: absolute;
    top: 20px;
    right: 40px;
    padding-right: 25px;
    padding-left: 20px;

    .main__main-footer__back__send_box__p2{
      color: white;
      position: absolute;
      top: 30%;
    }
  }
}
